:root {
  /* colors */
  --primary-color: #dfdfe2;
  --secondary-color: #ffffff;
  --app-background-color: #4d4d62;
  --background-color: #1b1b32;
  --foreground-color: #3b3b4f;
  --highlight-color: cornflowerblue;

  /* font sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-headline: "Roboto Mono", monospace;
  --font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--app-background-color);
  color: var(--primary-color);
  font-family: var(--font-family);
}

h1 {
  font-size: 1.125rem;
  line-height: 1.6;
}

h2 {
  font-size: var(--root-font-size);
}

ul {
  margin: 0;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.player,
.playlist {
  width: 450px;
  background-color: var(--background-color);
  border: 3px solid var(--foreground-color);
}

.player {
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border-radius:20px;
  border: 1px solid cornflowerblue;
}

.player-bar,
.playlist-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  height: 30px;
  background-color: var(--foreground-color);
  border-radius: 20px;
}

.parallel-lines {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  padding: 0 5px;
}

.parallel-lines > div {
  height: 2px;
  width: 100%;
  min-width: 75px;
  background-color: var(--highlight-color);
  border: 1px solid cornflowerblue;
}

.fcc-title,
.playlist-title {
  color: var(--secondary-color);
  margin: 0 10px;
  font-family: var(--font-headline);
}

.player-content {
  display: flex;
  background-color: var(--foreground-color);
  width: 430px;
  height: 230px;
  column-gap: 13px;
  align-items: center;
  justify-content: center;
  border: 1px solid cornflowerblue;
  border-radius: 20px;
}

#player-album-art {
  background-color: transparent;
  border: 6px solid transparent;
  
}

#player-album-art img {
  width: 150px;
  height: 157px;
  display: block;
  border-radius: 100px;
}

#player-album-art {
  background-color: transparent;
  border: 6px solid transparent;
  filter: brightness(70%); 
  transition: filter 0.3s ease;
}

#player-album-art:hover {
  filter: brightness(100%);
}

.player-display {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 14px;
  background-color: var(--background-color);
  height: 222px;
  width: 240px;
  border: 1px solid cornflowerblue;
  border-radius: 15px;
}

.player-display-song-artist {
  height: 80px;
}

.player-buttons svg {
  fill: var(--primary-color);
}

.playing > svg {
  fill: var(--highlight-color);
}

.player-buttons {
  display: flex;
  justify-content: space-around;
  margin: 8px;
  margin-top: -30px;
}

button {
  background: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: var(--root-font-size);
  outline-color: var(--highlight-color);
  text-align: center;
}

.playlist-song {
  outline-color: var(--highlight-color);
}

.playlist li:not(:last-child) {
  border-bottom: 1px solid var(--background-color);
}

button:focus,
.playlist-song:focus {
  outline-style: dashed;
  outline-width: 2px;
}

/* Playlist */
.playlist {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border-radius: 20px;
  border: 1px solid cornflowerblue;
}

#playlist-songs {
  width: 430px;
  height: 142%;
  background-color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px 9px;
  visibility: visible;
  justify-content: start;
  list-style: none;
  border-radius: 20px;
  border: 1px solid cornflowerblue;
}

.playlist-song {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

[aria-current="true"] {
  background-color: var(--background-color);
}

[aria-current="true"] p {
  color: var(--highlight-color);
}

.playlist-song-info {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 7px;
  padding: 5px 0;
  font-family: var(--font-family);
}

#player-song-title,
#player-song-artist {
  margin: 0;
}

#player-song-artist {
  color: var(--highlight-color);
  font-size: 0.75rem;
}

#player-song-title {
  font-size: 1.125rem;
}

.playlist-song-title {
  font-size: 0.85rem;
  width: 241px;
  text-align: left;
}

.playlist-song-artist {
  font-size: 0.725rem;
  width: 80px;
}

.playlist-song-duration {
  font-size: 0.725rem;
  margin: auto;
  font-family: var(--font-headline);
  width: 30px;
}

.playlist-song-delete {
  padding: 0;
  width: 20px;
  height: 20px;
}

.playlist-song-delete,
.playlist-song-delete {
  fill: var(--foreground-color);
}

.playlist-song-delete:hover circle,
.playlist-song-delete:focus circle {
  fill: #ff0000;
}

/* Responsive Styles */
@media (max-width: 700px) {
  .player,
  .playlist {
      width: 100%;
  }

  .player {
      height: auto;
  }

  #playlist-songs {
      width: 100%;
      height: auto;
      max-height: 280px;
      overflow-y: auto;
      scrollbar-color: var(--background-color) var(--secondary-color);
      scrollbar-width: thin;
  }

  .playlist-song-title,
  .playlist-song-artist,
  .playlist-song-duration {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  h1 {
      font-size: 0.813rem;
  }

  h2 {
      font-size: 0.75rem;
  }

  .player-bar,
  .playlist-bar,
  .player-content,
  #playlist-songs {
      width: 100%;
  }

  .playlist-song {
      justify-content: space-between;
  }

  .playlist-song-title {
      width: 140px;
  }

  .playlist-song-artist {
      width: 40px;
  }

  .playlist-song-duration > button {
      padding: 0;
  }

  .player-content {
      display: inline;
      position: relative;
      justify-items: center;
      height: auto;
      border-radius: 20px;
  }

  #player-album-art {
      z-index: -100;
      height: 280px;
      box-shadow: none;
      background: #000;
      border-radius: 100%;
  }

  #player-album-art img {
      width: 100%;
      height: 100%;
      opacity: 0.6;
  }

  .player-display-song-artist {
      padding: 0 10px;
  }

  .player-display-song-artist > p {
      white-space: pre-wrap;
  }

  .player-display {
      position: static;
      width: 100%;
      z-index: 1000;
      background-color: transparent;
      top: 0;
      height: auto;
      justify-content: space-between;
      text-align: center;
  }
}

footer {
  text-align: center;
  padding: 10px;
}

.icon{
  width: 100%;
  height: 100%;
}

#song-progress{
  width: 100%;
}

/* Agrega estas reglas al final de tu archivo styles.css */

/* Reducir el tamaño de la playlist */
.playlist {
  width: 450px; /* Ajusta el ancho de la playlist según tus preferencias */
  height: 275px;
}

#playlist-songs {
  max-height: 275px; /* Ajusta la altura máxima de la lista de reproducción */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}

.playlist-song {
  height: 40px; /* Ajusta la altura de cada canción en la lista de reproducción */
}



.playlist-song-duration {
  width: 10%; /* Ajusta el ancho de la duración de la canción */
}

/* Estilos adicionales para mejorar la apariencia en dispositivos más pequeños */
@media (max-width: 700px) {
  .playlist {
    width: 100%;
  }

  .playlist-song-title,
  .playlist-song-artist,
  .playlist-song-duration {
    width: auto; /* Establece el ancho automático en dispositivos más pequeños */
  }
}

#playlist-songs::-webkit-scrollbar {
  width: 8px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Mango de la barra de desplazamiento */
#playlist-songs::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color); /* Color del mango de la barra de desplazamiento */
  border-radius: 4px; /* Bordes redondeados del mango */
}

/* Pista de la barra de desplazamiento */
#playlist-songs::-webkit-scrollbar-track {
  background-color: var(--foreground-color); /* Color de la pista de la barra de desplazamiento */
}

/* Estilos adicionales para la barra de desplazamiento en dispositivos más pequeños */
@media (max-width: 700px) {
  #playlist-songs::-webkit-scrollbar {
    width: 5px; /* Ajusta el ancho de la barra de desplazamiento en dispositivos más pequeños */
  }

  #playlist-songs::-webkit-scrollbar-thumb {
    border-radius: 2px; /* Bordes redondeados del mango en dispositivos más pequeños */
  }
}

.link{
  color: white;
  text-decoration: none;
}

.link:hover{
  color: #ff0000;
}

.time-volume-controls {
  display: flex;
  align-items: center;
}

.time-bar {
  flex: 1;
  margin-right: 10px;
}

.time-input {
  width: 100%;
  height: 10px; /* Ajusta la altura según tu preferencia */
  appearance: none;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
  background-color: transparent;
}

.volume-input {
  width: 15%; /* Ajusta el ancho según tu preferencia */
  height: 15px; /* Ajusta la altura según tu preferencia */
  appearance: none;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

.time-input::-webkit-slider-thumb,
.volume-input::-webkit-slider-thumb,
.time-input::-moz-range-thumb,
.volume-input::-moz-range-thumb {
  appearance: none;
  width: 20px; /* Ajusta el tamaño del pulgar según tu preferencia */
  height: 20px; /* Ajusta el tamaño del pulgar según tu preferencia */
  border-radius: 50%;
  cursor: pointer;
}

label {
  font-size: 24px; /* Ajusta el tamaño de la etiqueta según tu preferencia */
  margin-right: 10px;
}

#search-input {
  width: 190px; /* Ajusta este valor según tus necesidades */
  background-color: transparent;
  border: 1px solid cornflowerblue;
  color: white;
  margin: auto;
  border-radius: 20px;
  height: 30px;
  margin-right: 160px;
}

button#search-btn{
  margin-left: -150px
}

.delete-button-container {
  position: absolute;
  top: 0;
  right: 0;
}

.song-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.playlist-song-delete {
  margin-left: 10px; /* Ajusta según sea necesario */
}
